<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro '$(find mecademic_description)/urdf/meca_500_r3_capsule.urdf.xacro' --inorder" />

  <param name="robot_description_semantic" command="$(find xacro)/xacro '$(find mecademic_description)/srdf/meca_500_r3_capsule.srdf' --inorder" />
</launch>
